<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{transacciones.add.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">[[#{transacciones.add.headline}]]</h1>
                <div>
                    <a th:href="@{/transaccioness}" class="btn btn-secondary">[[#{transacciones.add.back}]]</a>
                </div>
            </div>
            <div th:replace="~{fragments/forms::globalErrors('transacciones')}" />
            <form th:action="${requestUri}" method="post">
                <div th:replace="~{fragments/forms::inputRow(object='transacciones', field='fecha', inputClass='js-datepicker')}" />
                <div th:replace="~{fragments/forms::inputRow(object='transacciones', field='cantidad')}" />
                <div th:replace="~{fragments/forms::inputRow(object='transacciones', field='tipotrans')}" />
                <div th:replace="~{fragments/forms::inputRow(object='transacciones', field='cuentaorigen')}" />
                <div th:replace="~{fragments/forms::inputRow(object='transacciones', field='cuentadestino')}" />
                <input type="submit" th:value="#{transacciones.add.headline}" class="btn btn-primary mt-4" />
            </form>
        </div>
    </body>
</html>
